/* CSS */
.elements {
  padding: 10px;
  max-width: 30px;
  text-align: center;
}

.elementList {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  overflow: auto; 
}

.clickableItem {
  min-height: 3vh;
  padding: 3px;
  background: black;
  cursor: pointer;
}
